body {
    background-color: #FFFFFF;
    color: #444444;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    line-height: 1.6;
    margin: 2em auto;
    max-width: 650px;
    padding: 0 10px;
    text-align: center;
}

h1, h2, h3 {
    color: #1E1E1E;
    line-height: 1.2;
}

footer {
    font-size: 14px;
}

.social-icons {
    margin: 3em auto;
}

.social-icons a {
    text-decoration: none;
}

.social-icons a svg {
    color: #1E1E1E;
    height: 24px;
    width: 24px;
    padding: 0 5px;
}

#photo {
    border-radius: 50%;
    margin-top: 5em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1D1E20;
        color: #9B9C9D;
    }
    h1, h2, h3 {
        color: #DADADB;
    }
    .social-icons a svg {
        color: #DADADB;
    }
}